@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.word-count {
  width: 400px;
  max-width: 90%;
  margin-bottom: 50px;
}

.word-count input {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #758694;
  padding: 10px;
  font-size: 18px;
  color: #758694;
}

.word-count button {
  display: block;
  margin-top: 15px;
  width: 100%;
  font-size: 18px;
  padding: 10px 0px;
  background-color: #758694;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
}

.word-count button:active {
  transform: scale(0.97);
}
